<header class="fixed w-full">
  <div class="bg-red-700 text-white h-20 flex items-center w-full justify-between">
    <div class="flex justisy-start text-center text-2xl text-black ml-4">
      <%= link_to '黒歴史カジノ', root_path %>
    </div>
    <div class="justisy-end text-center mr-4">
      <% if current_user %>
        <%= link_to 'チェックアウト', logout_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to 'チェックイン', login_path %>
      <% end %>
    </div>
  </div>
</header>