<div class="flex justify-center">
  <div class="flex flex-col">
    <%= link_to '換金はこちら', new_board_path, class: "mt-40 text-yellow-400 text-center text-xl"%>
    <% if @boards.present? %>
      <div class="mt-8 grid grid-cols-3">
        <%= render @boards %>
      </div>
    <% end %>
  </div>
</div>